<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', {title}) %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>Sobre mim</h2>
        <p> Site criado com base no tutorial <a href="https://www.youtube.com/watch?v=zb3Qk8SG5Ms&list=PL4cUxeGkcC9jsz4LDYc6kv3ymONOKxwBU">Node Crash Coures - Net Ninja</a>.</p>
        <p>Esse projeto usa Node.js e Express para o backend e MongoDB Cloud com Mongoose para o banco de dados. </p>
    </div>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>