<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', {title}) %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit minus sunt pariatur dicta temporibus ratione eaque, amet at dolorem a. Ad quos eius aut dolore error. Quibusdam molestiae deleniti similique.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit minus sunt pariatur dicta temporibus ratione eaque, amet at dolorem a. Ad quos eius aut dolore error. Quibusdam molestiae deleniti similique.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit minus sunt pariatur dicta temporibus ratione eaque, amet at dolorem a. Ad quos eius aut dolore error. Quibusdam molestiae deleniti similique.</p>
    </div>
    
</body>
</html>