<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', {title}) %>
<body>
    <%- include('./partials/nav.ejs') %>

    <class class="not-found content">
        <p>Oops, page not found</p>
    </class>
    
</body>
</html>